.xswnm { 
  border-bottom-width: 39px;
  padding-left: 58px;
  border-left-width: 28px;
  padding-right: 84px;
  margin-right: 92px;
  margin-right: 83px;
  margin-left: 48px;
  padding-left: 24px;
  margin-bottom: 68px;
}
