.xswnm { 
  border-bottom-width: 39px;
  padding-left: 58px;
  border-left-width: 28px;
  padding-right: 84px;
  margin-right: 92px;
  margin-right: 83px;
  margin-left: 48px;
  border-right-width: 14px;
  border-top-width: 57px;
  margin-bottom: 6px;
  padding-left: 98px;
  border-right-width: 3px;
  border-bottom-width: 65px;
  line-height: 92px;
  line-height: 93px;
  border-bottom-width: 93px;
  border-top-width: 91px;
  margin-left: 2px;
  border-top-width: 41px;
}
